Django==6.0.2                           # 25/02/2026
django-localflavor==5.0                 # 25/02/2026
django-widget-tweaks==1.5.1             # 25/02/2026
pillow==12.1.0                          # 25/02/2026
python-stdnum==2.2                      # 25/02/2026
psycopg[binary]==3.3.3                  # 26/02/2026
qrcode ==7.4.2                          # 04/02/2026
reportlab==4.0.9                        # 12/03/2026
gunicorn==23.0.0                        # 16/03/2026
