{% extends 'itens/base_gestao.html' %}

{% block title %}Editando: {{ item.nome }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header card-header-custom">
        <h2 class="mb-0">Editando Item: <span class="text-white-50">{{ item.nome }}</span></h2>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>Altere as informações do bem abaixo e clique em "Salvar Alterações".</p>

            {{ form.as_p }}
            
            <hr>
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
            <a href="{% url 'detalhe_item' item.numero_identificacao %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}